name: Build

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install pyinstaller PyQt6 PyYAML

      - name: Build executable
        run: |
          pyinstaller --onefile --noconsole main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: RA_Config_Editor_${{ matrix.os }}
          path: dist/*
